.navbar {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #FFFFFF;
padding: 20px 50px;
position: relative;
}

.toggle-button{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar{
    width: 35px;
    height: 4px;
    border-radius: 5px;
    background-color: #303030;
    margin: 3px 0px;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-right: 25px;
}

.nav-links li a{
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    transition: 0.4s ease;
}

.nav-links li a:hover{
   color: #595858;
}

@media screen and (max-width: 768px){
    .navbar{
        padding: 20px 25px ;
    }

    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        padding: 25px;
        top: 100%;
        left: 0;
        z-index: 1;
        background-color: #000;
        color: #FFFFFF;
        opacity: .8;
    }


.nav-links li a{
    color: #FFFFFF;
}

.nav-links li a:hover{
    color:#d4d2d2;
 }

    .nav-links li{
        padding: 12px 0px;
    }

    .nav-links.active{
        display: block;
    }
}