.workshops {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.workshop-card {
    flex: 1 1 calc(20% - 32px);
    max-width: calc(20% - 32px);
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 16px;
    box-sizing: border-box;
}

.workshop-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.workshop-category {
    background-color: #a6a6a3; 
    color: #000;
    font-weight: bold;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 8px;
}

.workshop-title {
    font-size: 18px;
    margin-left: 5px;
    font-weight: bold;
}

.workshop-price {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-left: 5px;
}

@media (max-width: 1200px) {
    .workshop-card {
        flex: 1 1 calc(25% - 32px);
        max-width: calc(25% - 32px);
    }
}

@media (max-width: 992px) {
    .workshop-card {
        flex: 1 1 calc(33.33% - 32px);
        max-width: calc(33.33% - 32px);
    }
}

@media (max-width: 768px) {
    .workshop-card {
        flex: 1 1 calc(50% - 32px);
        max-width: calc(50% - 32px);
    }
}

@media (max-width: 480px) {
    .workshop-card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
